@charset "utf-8";

/**
 * 鸿宇通用CSS样式表
 * Created by PhpStorm.
 * User: Shadow
 * Date: 2017-01-18 0118
 * Time: 18:18
 * Http: www.hongyuvip.com
 */

/*-------------------- 全局Class --------------------*/

/*
 * Define global variables
 * Defined: --name:value;
 * Usage: var(--name);
 */
:root {
    /*网站主色调*/
    --main-color: #F10215;

    /*字体颜色*/
    --font-color: #6C6C6C;

    /*背景色*/
    --bg-color-ash: #F5F5F5;
    --bg-color-red: #C40000;

    /*Border边框色*/
    --border-color: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-width: 1280px
}

body {
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    color: #6C6C6C;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #6C6C6C;
    text-decoration: none !important;
}

a:hover {
    color: #C81623;
}

img {
    border: none;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

:focus {
    outline: none !important;
}

.w {
    width: 1210px;
    margin: 0 auto;
}

.bar {
    width: 100%;
}

/*浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

/*隐藏/显示*/
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

/*背景色*/
.bg-gray {
    background-color: #F5F5F5;
}

.bg-ash {
    background-color: #F5F5F5
}

/*-------------------- Header --------------------*/
.header {
    position: relative;
    min-width: 1210px;
}

/* 顶部广告 */
.headerAd {
    width: 100%;
    height: 80px;
    z-index: 1;
    display: block;
    position: relative;
    background-color: #E63F37;
}

.headerAd > div {
    position: relative;
    height: 100%;
}

.headerAd > div > a > img {
    width: 100%;
    height: 100%;
    float: left;
}

.closeAd {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #F5F5F5;
    background-color: rgb(45, 45, 45);
    opacity: 0.3;
}

.closeAd:link {
    color: #F5F5F5;
    background-color: rgb(45, 45, 45);
}

.closeAd:visited {
    color: #FFFFFF;
    background-color: #000;
}

.closeAd:hover {
    color: #FFFFFF;
    background-color: #000;
}

.closeAd:active {
    color: #F5F5F5;
    background-color: rgb(45, 45, 45);
}

/* 页眉 */
.headerTop {
    width: 100%;
    min-width: 1210px;
    height: 32px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
}

.headerTop > div {
    height: 32px;
}

.headerTop a {
    color: #6C6C6C;
}

.headerTop a:hover {
    color: #F10215;
}

.headerTop > div > ul {
    height: 100%;
    position: relative;
    margin-bottom: 0;
}

.headerTop > div > ul > li {
    height: 100%;
    line-height: 32px;
}

.headerTop > div > ul > li > span {
    color: #6C6C6C;
}

/* 页眉右侧菜单 */
.menuTop {
}

.menuTop .active {
    color: #F10215;
}

.menuTop > li {
    float: left;
}

.menuTop > li > div {
    padding-left: 7px;
    padding-right: 7px;
}

.menuTop .spacer {
    overflow: hidden;
    margin: 12px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
}

.downTop {
    height: 32px;
    border: 1px solid #F5F5F5;
    border-bottom: none;
    position: relative;
}

.downTop:hover {
    border-color: #EEEEEE;
    background-color: #FFFFFF;
}

.downTop .effectTop {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.downTop:hover .effectTop {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -moz-transform: rotate(-180deg); /* Firefox */
    -webkit-transform: rotate(-180deg); /* Safari 和 Chrome */
    -o-transform: rotate(-180deg); /* Opera */
    transform: rotate(-180deg);
}

.downTop i {
    /*vertical-align: -3%;*/
    color: #6C6C6C;
    margin-left: 3px;
}

.downTop span {
    color: #6C6C6C;
}

.downTop:hover .listTop {
    display: block;
}

.listTop {
    min-width: 63px;
    position: absolute;
    top: 31px;
    left: -1px;
    padding: 7px;
    z-index: 1;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.listTop > div {
    height: 24px;
    line-height: 24px;
}

.listTop > div:hover {
    background-color: #F5F5F5;
}

.listTop > div > a {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.listTop > div > a:hover {
    color: #6C6C6C;
}

.cartTop {
    min-width: 312px;
    min-height: 58px;
}

.siteTop {
    position: absolute;
    top: 31px;
    z-index: 1;
    display: none;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 20px 20px 0;
    white-space: nowrap;
    width: 1210px;
    min-height: 168px;
    right: -1px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.downTop:hover .siteTop {
    display: block;
}

.siteTop > div {
    height: 24px;
    line-height: 24px;
}

.siteTop > div:hover {
    background-color: #F5F5F5;
}

.siteTop > div > a {
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.siteTop > div > a:hover {
    color: #6C6C6C;
}

.siteTop > dl {
    width: 256px;
    min-height: 128px;
    float: left;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    border-left: 1px solid #EEEEEE;
}

.siteTop > dl:first-child {
    border-color: #FFFFFF;
}

.siteTop > dl > dt {
    font-size: 12px;
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 10px;
}

.siteTop > dl > dd {
    margin-left: 0;
}

.siteTop > dl > dd > div {
    width: 7em;
    margin-right: calc((256px / 3) - 7em);
    height: 24px;
    line-height: 24px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

/* 地址定位 */
.headerRegion {
    /*box-sizing:border-box;*/
    /*-moz-box-sizing:border-box; *//* Firefox */
    /*-webkit-box-sizing:border-box; *//* Safari */
    border: 1px solid #F5F5F5;
    border-bottom: none;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 200px;
    position: relative;
    height: 32px;
}

.headerRegion:hover {
    border-color: #EEEEEE;
    background-color: #FFFFFF;
}

.headerRegion:hover .listRegion {
    display: block;
}

.headerRegion > i {
    vertical-align: -10%;
    font-size: 14px;
    color: #F10215;
    margin-right: 3px;
}

.listRegion {
    position: absolute;
    top: -4px;
    left: -1px;
    margin-top: 35px;
    padding: 7px;
    width: 316px;
    height: auto;
    z-index: 2;
    display: none;
    border: 1px solid #EEEEEE;
    border-top: none;
    background-color: #FFFFFF;
}

.listRegion > div {
    float: left;
    width: 60px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    padding: 2px 0;
}

.listRegion > div > a {
    padding: 4px 8px;
    color: #6C6C6C;
}

.listRegion > div > a:hover {
    color: #F10215;
    background-color: #F5F5F5;
}

.listRegion > div > .active {
    background-color: #F10215 !important;
    color: #FFFFFF !important;
}

.headerMain {
    width: 100%;
}

.headerMain > div {
    height: 140px;
    position: relative;
}

/* Logo */
.headerMain .logo {
    position: absolute;
    top: -33px;
    left: 0;
    width: 190px;
    height: 170px;
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

.headerMain .logo > h1 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

.headerMain .logo > h1 > a {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-indent: -999px;
}

.headerMain .logo > h1 > a > img {
    width: 100%;
    height: 100%;
    float: left;
}

.headerRight {
    position: relative;
    width: 1010px;
    height: 100%;
    margin-left: 200px;
}

.searchHeader {
}

.cartHeader {
}

.navHeader {
}

/*-------------------- Content --------------------*/
.content {
}

.contentFocus {
    height: 500px;
}

.contentArea {
    height: 582px;
}

/*-------------------- 侧边栏CSS样式 --------------------*/
body {
    height: 3999px;
}

#sideBar {
    width: 35px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 7;
    line-height: 100%;
    background-color: #000000;
    display: table;
}

#sideBar .sideBarBody {
    position: absolute;
    width: 270px;
    height: 100%;
    top: 0;
    left: 35px;
    bottom: 0;
    background-color: #F5F5F5;
}

.sideBarContent {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

#sideBar li {
    width: 100%;
    float: left;
}

.sideBarContent li {
    margin: 3px auto;
}

#sideBar .item a {
    width: 100%;
    float: left;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
}

#sideBar .item a i {
    font-size: 18px;
    height: 35px;
    line-height: 35px;
}

#sideBar .item a img {
    width: 25px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 5px;
    border-radius: 13px;
    overflow: hidden;
}

.item:hover {
    background-color: #C40000;
}

.item:hover .item-title {
    visibility: visible;
    opacity: 1;
    right: 35px;
}

.item .item-title {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 70px;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    background-color: #494949;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#sideBar .item .item-title a {
    /*max-width: 7em;*/
}

#sideBar .item .item-title span {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    position: absolute;
    top: 10px;
    right: -8px;
    color: #494949;
}

#sideBar .item .item-cart {
    white-space: pre-wrap;
}

.item-cartBar {
    padding: 6px 0;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

#sideBar .item .item-cart div {
    float: left;
    width: 1em;
    height: 56px;
    line-height: 17px;
    margin-top: 5px;
    margin-left: 12px;
    color: #FFFFFF;
}

#sideBar .item .item-cart span {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    overflow: hidden;
    text-align: center;
    color: #FFFFFF;
    margin-left: calc(50% - 10px);
    background-color: #C81623;
    border-radius: 10px;
    margin-bottom: 8px;
}

#sideBar .item-body {
    width: 270px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -270px;
}

#sideBar .sideBarDown {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

/*-------------------- Footer --------------------*/
.footer {}

/*-------------------- Icon --------------------*/

/*-------------------- Fixed --------------------*/
.fixedTop {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: none;
    border-bottom: 2px solid red;
    background-color: #FFFFFF;
}

.fixedBottom {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: block;
}

.fixedBottom > div {
    background-color: #F5F5F5;
    height: 80px;
}












