@charset "utf-8";

/**
 * 鸿宇通用CSS样式表
 * Created by PhpStorm.
 * User: Shadow
 * Date: 2017-01-18 0118
 * Time: 18:18
 * Http: www.hongyuvip.com
 */

/*-------------------- CSS全局变量 --------------------*/

/*
 * Define global variables
 * Defined: --name:value;
 * Usage: var(--name);
 */
:root{
    /*网站主色调*/
    --main-color:#F10215;
    
    /*字体颜色*/
    --font-color:#6C6C6C;


}

/*
 * @ 属性值数学运算–加减乘除
 * @ calc()
 * @ width:calc(100% - 100px);
 */

/* [移动端调用删除/PC端保留]解决引用Bootstrap造成在IE中position: fixed;定位和滚动条问题*/
@-ms-viewport {
    width: auto;
}

body {
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #6C6C6C;
}

/*所有元素边距默认为零*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: #6C6C6C;
    text-decoration: none !important;
}

a:hover {
    color: #C81623;
}

/*去掉图片边框*/
img {
    border: none;
    vertical-align:middle;
}

button {
    cursor: pointer;
}

/*去掉ul|ol列表样式*/
ul,ol,li {
    list-style: none;
}

/*清除虚框*/
:focus {
    outline: none !important;
}

/*-------------------- 全局Class --------------------*/
.w {width: 1210px; margin: 0 auto;}
.bar {width: 100%;}

/*浮动*/
.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}

/*隐藏/显示*/
.hide {display: none !important;}
.show {display: block !important;}

/*背景色*/
.bg-gray {background-color: #F5F5F5;}

/*-------------------- Header --------------------*/
.header {
    position: relative;
}

/* 顶部广告 */
.headerAd {
    width: 100%;
    position: relative;
    z-index: 3;
    display: block;
    background-color: #E63F37;
}
.headerAd > div{
    position: relative;
    height: 80px;
}
.headerAd > div > a > img {
    width: 100%;
    height: 100%;
    float: left;
}

.closeAd {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #F5F5F5;
    background-color: rgb(45,45,45);
    opacity: 0.3;
}
.closeAd:link {
    color: #F5F5F5;
    background-color: rgb(45,45,45);
}
.closeAd:visited {
    color: #FFFFFF;
    background-color: #000;
}
.closeAd:hover {
    color: #FFFFFF;
    background-color: #000;
}
.closeAd:active  {
    color: #F5F5F5;
    background-color: rgb(45,45,45);
}

/* 页眉 */
.headerTop {
    width: 100%;
    height: 32px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
}
.headerTop > div {
    height: 32px;
}
.headerTop a {
    color: var(--font-color);
}
.headerTop a:hover {
    color: var(--main-color);
}
.headerTop > div > ul {
    height: 100%;
    position: relative;
    margin-bottom: 0;
}
.headerTop > div > ul > li {
    height: 100%;
    line-height: 32px;
}
.headerTop > div > ul > li > span {
    color: var(--font-color);
}

/* 页眉右侧菜单 */
.menuTop {}
.menuTop .active {
    color: var(--main-color);
}
.menuTop > li {
    float: left;
}
.menuTop > li > div {
    padding-left: 7px;
    padding-right: 7px;
}
.menuTop .spacer{
    overflow: hidden;
    margin: 12px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
}
.downTop {
    height: 32px;
    border: 1px solid #F5F5F5;
    border-bottom: none;
    position: relative;
}
.downTop:hover {
    border-color: #EEEEEE;
    background-color: #FFFFFF;
}
.downTop .effectTop {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.downTop:hover .effectTop {
    -ms-transform:rotate(-180deg); 	/* IE 9 */
    -moz-transform:rotate(-180deg); 	/* Firefox */
    -webkit-transform:rotate(-180deg); /* Safari 和 Chrome */
    -o-transform:rotate(-180deg); 	/* Opera */
    transform:rotate(-180deg);
}

.downTop i {
    /*vertical-align: -3%;*/
    color: var(--font-color);
    margin-left: 3px;
}
.downTop span{
    color: var(--font-color);
}
.downTop:hover .listTop {
    display: block;
}
.listTop {
    min-width: 63px;
    position: absolute;
    top: 31px;
    padding: 7px;
    z-index: 3;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.userTop {
    left: -1px;
}
.userTop > div {
    height: 24px;
    line-height: 24px;
}
.userTop > div:hover {
    background-color: #F5F5F5;
}
.listTop > div > a {
    white-space:nowrap;
}
.listTop > div > a:hover {
    color: var(--font-color);
}
.userTop a{
    padding-left: 5px;
    padding-right: 5px;
}

.cartTop {
    left: -1px;
    min-width: 312px;
    min-height: 58px;
}

.siteTop {
    padding: 20px 20px 20px 0 !important;
    white-space:nowrap;
    width: 1210px;
    min-height: 168px;
    right: -1px;
    background-color: #FFFFFF;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    /*display: block !important;*/
}
.siteTop > dl {
    width: 256px;
    min-height: 128px;
    float: left;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    border-left: 1px solid #EEEEEE;
}
.siteTop > dl:first-child {
    border-color: #FFFFFF;
}
.siteTop > dl > dt {
    font-size: 12px;
    font-weight: 700;
    color: var(--font-color);
    margin-bottom: 10px;
}
.siteTop > dl > dd {
    margin-left: 0;
}
.siteTop > dl > dd > div {
    width: 7em;
    margin-right: calc((256px / 3) - 7em);
    height: 24px;
    line-height: 24px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

/* 地址定位 */
.headerRegion {
    /*box-sizing:border-box;*/
    /*-moz-box-sizing:border-box; *//* Firefox */
    /*-webkit-box-sizing:border-box; *//* Safari */
    border: 1px solid #F5F5F5 ;
    border-bottom: none;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 190px;
    position: relative;
    height: 32px;
}
.headerRegion:hover {
    border-color: #EEEEEE;
    background-color: #FFFFFF;
}
.headerRegion:hover .listRegion {
    display: block;
}
.headerRegion > i{
    vertical-align: -10%;
    font-size: 14px;
    color: var(--main-color);
    margin-right: 3px;
}
.listRegion {
    position: absolute;
    top: -4px;
    left: -1px;
    margin-top: 35px;
    padding: 7px;
    width: 316px;
    height: auto;
    z-index: 2;
    display: none;
    border: 1px solid #EEEEEE;
    border-top: none;
    background-color: #FFFFFF;
}
.listRegion > div {
    float: left;
    width: 60px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    padding: 2px 0;
}
.listRegion >div > a {
    padding: 4px 8px;
    color: var(--font-color);
}
.listRegion >div > a:hover {
    color: var(--main-color);
    background-color: #F5F5F5;
}
.listRegion >div > .active {
    background-color: var(--main-color) !important;
    color: #FFFFFF !important;
}

.headerMain {
    width: 100%;
}
.headerMain > div{
    height: 130px;
    position: relative;
}

/* Logo */
.headerMain .logo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 165px;
    background-color: #FFFFFF;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.headerMain .logo > h1 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}
.headerMain .logo > h1 > a {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}
.headerMain .logo > h1 > a > img {
    width:100%;
    height: 100%;
    float: left;
}
.headerNav {
    height: 40px;
}

/*-------------------- Content --------------------*/
.contentFocus {
    height: 500px;
}
.contentArea {
    height: 582px;
}

/*-------------------- Fixed --------------------*/
.fixed {}
.fixedTop {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: none;
    border-bottom: 2px solid red;
    background-color: #FFFFFF;
}
.fixedBottom {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: block;
}
.fixedBottom > div {
    background-color: #F5F5F5;
    height: 80px;
}

.fixedLeft {}

.fixedRight {
    width: 35px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    display: block;
    background-color: #000000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sideBar {
    width: 100%;
    height: 100%;
    position: relative;
}

.sideDown {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.btnRight {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.altRight {
    position: absolute;
    visibility:hidden;
    opacity: 0;
    right: 70px;
    width:90px;
    height:35px;
    line-height:35px;
    text-align:center;
    color:#FFFFFF;
    background-color:#494949;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 5px rgba(0,0,0,.2);
    box-shadow:0 0 5px rgba(0,0,0,.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btnRight:hover {
    background-color: #C40000;
}
.btnRight:hover .altRight {
    visibility:visible;
    opacity: 1;
    right: 35px;
}
.altRight:hover .btnRight {
    background-color: #C40000;
}
.btnRight > a {
    width: 100%;
    height: 100%;
    float: left;
}
.btnRight > a > i {
    vertical-align: -10%;
    font-size: 20px;
    color: #FFFFFF;
}
.btnRight > a > span {
    display: none;
}

.altRight > a {
    width: 100%;
    height: 100%;
    float: left;
    color: #FFFFFF;
}
.altRight > div {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    position: absolute;
    top: 10px;
    right: -8px;
    color: #494949;
}
.topRight {
    display: none;
}



/*-------------------- Footer --------------------*/



/*-------------------- Icon --------------------*/
